// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome_header {
  text-align: center;
}

.main_title {
  text-align: center;
  padding-top: 30px;
}

.fi-widget {
  font-size: 30px;
  float: right;
  padding-right: 20px;
}

.calendar {
  margin: 0 auto;
  width: 360px;
}

.ramadan_header {
  text-align: center;
  padding-bottom: 40px;
}
